web/WEB-INF/wsdl/localhost_8080/MemoryApp/MemoryWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://memory.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://memory.me.org/">

<xs:element name="acceptInvite" type="tns:acceptInvite"/>

<xs:element name="addMemory" type="tns:addMemory"/>

<xs:element name="addResource" type="tns:addResource"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserID" type="tns:getUserID"/>

<xs:element name="getUserIDResponse" type="tns:getUserIDResponse"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="sendInvite" type="tns:sendInvite"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:element name="viewInviteSender" type="tns:viewInviteSender"/>

<xs:element name="viewInviteSenderResponse" type="tns:viewInviteSenderResponse"/>

<xs:element name="viewInvites" type="tns:viewInvites"/>

<xs:element name="viewInvitesResponse" type="tns:viewInvitesResponse"/>

<xs:element name="viewMemories" type="tns:viewMemories"/>

<xs:element name="viewMemoriesResponse" type="tns:viewMemoriesResponse"/>

<xs:complexType name="addMemory">
<xs:sequence>
<xs:element name="memory" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewMemories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewMemoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserID">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewInviteSender">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewInviteSenderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResource">
<xs:sequence>
<xs:element name="memory" type="xs:string" minOccurs="0"/>
<xs:element name="resource" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendInvite">
<xs:sequence>
<xs:element name="friendUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="memory" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acceptInvite">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="test">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewInvites">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewInvitesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>