src/conf/xml-resources/web-service-references/MemoryWS/wsdl/localhost_8080/MemoryApp/MemoryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://memory.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://memory.me.org/" name="MemoryWS">
    <wsp:Policy wsu:Id="MemoryWSPortBindingPolicy"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://memory.me.org/" schemaLocation="http://localhost:8080/MemoryApp/MemoryWS?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="register">
        <part name="parameters" element="tns:register"/>
    </message>
    <message name="registerResponse">
        <part name="parameters" element="tns:registerResponse"/>
    </message>
    <message name="delete">
        <part name="parameters" element="tns:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"/>
    </message>
    <message name="test">
        <part name="parameters" element="tns:test"/>
    </message>
    <message name="testResponse">
        <part name="parameters" element="tns:testResponse"/>
    </message>
    <message name="getUser">
        <part name="parameters" element="tns:getUser"/>
    </message>
    <message name="getUserResponse">
        <part name="parameters" element="tns:getUserResponse"/>
    </message>
    <message name="addResource">
        <part name="parameters" element="tns:addResource"/>
    </message>
    <message name="viewUsers">
        <part name="parameters" element="tns:viewUsers"/>
    </message>
    <message name="viewUsersResponse">
        <part name="parameters" element="tns:viewUsersResponse"/>
    </message>
    <message name="viewMemories">
        <part name="parameters" element="tns:viewMemories"/>
    </message>
    <message name="viewMemoriesResponse">
        <part name="parameters" element="tns:viewMemoriesResponse"/>
    </message>
    <message name="viewInviteSender">
        <part name="parameters" element="tns:viewInviteSender"/>
    </message>
    <message name="viewInviteSenderResponse">
        <part name="parameters" element="tns:viewInviteSenderResponse"/>
    </message>
    <message name="acceptInvite">
        <part name="parameters" element="tns:acceptInvite"/>
    </message>
    <message name="sendInvite">
        <part name="parameters" element="tns:sendInvite"/>
    </message>
    <message name="getUserID">
        <part name="parameters" element="tns:getUserID"/>
    </message>
    <message name="getUserIDResponse">
        <part name="parameters" element="tns:getUserIDResponse"/>
    </message>
    <message name="viewInvites">
        <part name="parameters" element="tns:viewInvites"/>
    </message>
    <message name="viewInvitesResponse">
        <part name="parameters" element="tns:viewInvitesResponse"/>
    </message>
    <message name="addMemory">
        <part name="parameters" element="tns:addMemory"/>
    </message>
    <message name="transferPoints">
        <part name="parameters" element="tns:transferPoints"/>
    </message>
    <message name="viewPoints">
        <part name="parameters" element="tns:viewPoints"/>
    </message>
    <message name="viewPointsResponse">
        <part name="parameters" element="tns:viewPointsResponse"/>
    </message>
    <message name="deleteResource">
        <part name="parameters" element="tns:deleteResource"/>
    </message>
    <message name="deleteResourceResponse">
        <part name="parameters" element="tns:deleteResourceResponse"/>
    </message>
    <message name="shareMemory">
        <part name="parameters" element="tns:shareMemory"/>
    </message>
    <message name="login">
        <part name="parameters" element="tns:login"/>
    </message>
    <message name="loginResponse">
        <part name="parameters" element="tns:loginResponse"/>
    </message>
    <portType name="MemoryWS">
        <operation name="register">
            <input wsam:Action="http://memory.me.org/MemoryWS/registerRequest" message="tns:register"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/registerResponse" message="tns:registerResponse"/>
        </operation>
        <operation name="delete">
            <input wsam:Action="http://memory.me.org/MemoryWS/deleteRequest" message="tns:delete"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/deleteResponse" message="tns:deleteResponse"/>
        </operation>
        <operation name="test">
            <input wsam:Action="http://memory.me.org/MemoryWS/testRequest" message="tns:test"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/testResponse" message="tns:testResponse"/>
        </operation>
        <operation name="getUser">
            <input wsam:Action="http://memory.me.org/MemoryWS/getUserRequest" message="tns:getUser"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/getUserResponse" message="tns:getUserResponse"/>
        </operation>
        <operation name="addResource">
            <input wsam:Action="http://memory.me.org/MemoryWS/addResource" message="tns:addResource"/>
        </operation>
        <operation name="viewUsers">
            <input wsam:Action="http://memory.me.org/MemoryWS/viewUsersRequest" message="tns:viewUsers"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/viewUsersResponse" message="tns:viewUsersResponse"/>
        </operation>
        <operation name="viewMemories">
            <input wsam:Action="http://memory.me.org/MemoryWS/viewMemoriesRequest" message="tns:viewMemories"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/viewMemoriesResponse" message="tns:viewMemoriesResponse"/>
        </operation>
        <operation name="viewInviteSender">
            <input wsam:Action="http://memory.me.org/MemoryWS/viewInviteSenderRequest" message="tns:viewInviteSender"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/viewInviteSenderResponse" message="tns:viewInviteSenderResponse"/>
        </operation>
        <operation name="acceptInvite">
            <input wsam:Action="http://memory.me.org/MemoryWS/acceptInvite" message="tns:acceptInvite"/>
        </operation>
        <operation name="sendInvite">
            <input wsam:Action="http://memory.me.org/MemoryWS/sendInvite" message="tns:sendInvite"/>
        </operation>
        <operation name="getUserID">
            <input wsam:Action="http://memory.me.org/MemoryWS/getUserIDRequest" message="tns:getUserID"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/getUserIDResponse" message="tns:getUserIDResponse"/>
        </operation>
        <operation name="viewInvites">
            <input wsam:Action="http://memory.me.org/MemoryWS/viewInvitesRequest" message="tns:viewInvites"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/viewInvitesResponse" message="tns:viewInvitesResponse"/>
        </operation>
        <operation name="addMemory">
            <input wsam:Action="http://memory.me.org/MemoryWS/addMemory" message="tns:addMemory"/>
        </operation>
        <operation name="transferPoints">
            <input wsam:Action="http://memory.me.org/MemoryWS/transferPoints" message="tns:transferPoints"/>
        </operation>
        <operation name="viewPoints">
            <input wsam:Action="http://memory.me.org/MemoryWS/viewPointsRequest" message="tns:viewPoints"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/viewPointsResponse" message="tns:viewPointsResponse"/>
        </operation>
        <operation name="deleteResource">
            <input wsam:Action="http://memory.me.org/MemoryWS/deleteResourceRequest" message="tns:deleteResource"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/deleteResourceResponse" message="tns:deleteResourceResponse"/>
        </operation>
        <operation name="shareMemory">
            <input wsam:Action="http://memory.me.org/MemoryWS/shareMemory" message="tns:shareMemory"/>
        </operation>
        <operation name="login">
            <input wsam:Action="http://memory.me.org/MemoryWS/loginRequest" message="tns:login"/>
            <output wsam:Action="http://memory.me.org/MemoryWS/loginResponse" message="tns:loginResponse"/>
        </operation>
    </portType>
    <binding name="MemoryWSPortBinding" type="tns:MemoryWS">
        <wsp:PolicyReference URI="#MemoryWSPortBindingPolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="register">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="test">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addResource">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="viewUsers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="viewMemories">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="viewInviteSender">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="acceptInvite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="sendInvite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="getUserID">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="viewInvites">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addMemory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="transferPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="viewPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteResource">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="shareMemory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="login">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MemoryWS">
        <port name="MemoryWSPort" binding="tns:MemoryWSPortBinding">
            <soap:address location="http://localhost:8080/MemoryApp/MemoryWS"/>
        </port>
    </service>
</definitions>